body {
    font-family: Arial, sans-serif;
    background-color: #d3e6f6;
}

.float-img {
    width: 150px;      /* ВСТАНОВИЛА НОРМАЛЬНИЙ РОЗМІР */
    height: auto;
    float: left;
    margin-right: 20px;  /* ОБТІКАННЯ — ПРАВИЛЬНЕ */
    margin-bottom: 10px;
    border: 2px solid rgb(80, 40, 110);
    border-radius: 8px;
}

#layout-demo {
    border: 1px solid #333;
    padding: 10px;
    margin: 20px;
}

#layout-demo {
    position: relative; 
}

.side-menu {
    width: 200px;
    margin: 20px;
}

.side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #222;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.side-menu a.active {
    background-color: #4caf50;
    color: white;
}

.side-menu a:hover {
    background-color: #2196f3;
    color: white;
}

.jump-btn {
    margin: 40px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: tomato;
    color: white;
    cursor: pointer;
    border-radius: 4px;

    animation-name: jump;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}
